<html>
  <header>
      <app-topnav class="topnav" *ngFor = "let page of pages" [page]="pages.page" [name]="page.name"></app-topnav>
      <img src="./logo.jpg" width="200" height="80"/>
  </header>
  <body>
    <p><b>
        When you search for flights with us, you'll get results from all the major international <br>
        airlines and low-cost carriers, neatly displayed in one table – lowest prices first of course - so that you can compare costs with ease and<br>
        find that perfect ticket that works with your schedule and budget. Once you’ve decided on the best flight for you, book and pay online in one <br>
        seamless transaction – you can do the same to reserve your hotel and rental car too! Taking the hassle out of your travel planning, our team of <br>
        dedicated agents work around the clock to assist you with any changes, queries or concerns you might have, so you can focus on the fun stuff.<br>
    </b></p>

  </body>
  <footer>
      <app-footer></app-footer>
  </footer>
</html>
