footer{
    text-align: center;
    background-color: grey;
    height: 50px;
    bottom: 0px;
    width: 100%;
    position: fixed;
    vertical-align: middle;
    line-height: normal;
    padding: 0px;
}